* { 
    margin: 0; padding: 0; 
}

h1 { 
    font-size: 2em; 
    text-align: center;
}

input, textarea{
    width: 300px;
    min-height: 50px;
}

#chat {
    float: right;
    margin-right: 100px;
    font-size: 1.9em;
}

.video {
    position: relative;
    padding-bottom: 56.25%; /* 16/9 ratio */
    padding-top: 30px; /* IE6 workaround*/
    height: 0;
    overflow: hidden;
}
    
.video iframe,
.video object,
.video embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}